<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

	<div class="card">
		<div class="card-header">
			<h4>Bukti Terima</h4>
		</div>
		<div class="card-body">
			<div class="container">
				<div class="row">
					<div class="col-lg-9">
						<div class="font-weight-bold text-uppercase">
							<h5>
								kementerian riset, teknologi dan pendidikan tinggi <br>
								<span class="h3">universitas brawijaya</span>
							</h5>
						</div>
					</div>
					<div class="col-lg-3" style="float:right">
						<div class="font-weight-bold text-capitalize">
							Kode Prog./Keg./Sub. Keg./Mak. <br>
							................................................... <br>
							Bukti Kas No : <br>
							Tahun Anggaran : <br>
						</div>
					</div>
				</div>
				<form class="mt-5">
					<div class="form-group row">
						<label for="staticEmail" class="col-sm-2 col-form-label">Sudah Terima Dari</label>
						<div class="col-sm-10">
							<input type="text" readonly class="form-control-plaintext" id="staticEmail"
								value="PEJABAT PEMBUAT KOMITMEN FAKULTAS EKONOMI DAN BISNIS - UNIVERSITAS BRAWIJAYA">
						</div>
					</div>
					<div class="form-group row">
						<label for="inputPassword" class="col-sm-2 col-form-label">Banyaknya
							Uang</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="inputPassword" placeholder="Nominal Uang">
						</div>
					</div>
					<div class="form-group row">
						<label for="inputPassword" class="col-sm-2 col-form-label">
							Untuk Pembayaran</label>
						<div class="col-sm-10">
							<input type="text" readonly class="form-control-plaintext" id="inputPassword"
								placeholder="Untuk Pembayaran">
						</div>
					</div>
				</form>

				<div class="row mt-5">
					<div class="col-lg-3">
						<div class="header-ttd">
							Mengetahui / Menyetujui, <br>
							Pejabat Pembuat Komitmen
						</div>
						<div class="field-ttd" style="margin-top: 5rem">
							Drs. Fulan, MM. <br>
							NIP. 127346817346718
						</div>
					</div>
					<div class="col-lg-3">
						<div class="header-ttd">
							Mengetahui <br>
							Kasubag Keu / Monitoring
						</div>
						<div class="field-ttd" style="margin-top: 5rem">
							Drs. Adi Joni <br>
							NIP. 127346817346718
						</div>
					</div>
					<div class="col-lg-3">
						<div class="header-ttd">
							Lunas dibayar <br> Tanggal: <br>
							Bendahara Pengeluaran Pembantu
						</div>
						<div class="field-ttd" style="margin-top: 5rem">
							Zulfa Ikhsania, SE. <br>
							NIP. 127346817346718
						</div>
					</div>
					<div class="col-lg-3">
						Malang, <br>
						Name : <br>
						Alamat :
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
